
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using BilgeAdam.Model.Model.Entities
@model List<OrderDetail>



<div class="col-lg-12">
    <span>Sipariş Kodu : @Model[0].OrderID</span>
    <a href="@Url.Action("ConfirmOrder","Order",new { area="Member",id=Model[0].OrderID})">Onayla</a><i class="fa fa-check"></i>
    /
    <a href="@Url.Action("RejectOrder","Order",new { area="Member",id=Model[0].OrderID})">İptal</a><i class="fa fa-circle"></i>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Ürün Görseli</th>
                <th>Ürün Kodu</th>
                <th>Ürün Adı</th>
                <th>Ürün Miktarı</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><img src="@item.Product.ImagePath" style="display:block" width="30" height="30" /></td>
                    <td>@item.Product.ProductCode</td>
                    <td>@item.Product.Name</td>
                    <td>@item.Quantity</td>
                </tr>
               
            }
        </tbody>
    </table>
</div>



